rules_version = '2';
service cloud.firestore {
  function signedInAndMatchBetweenUIDAndUserId(userId) {
    return request.auth != null && request.auth.uid == userId;
  }
  function isPro() {
    let plan = request.auth.token.plan;
    let isUserPro = plan != "undefined" && plan == "pro";
    let isTreePro = request.resource.data.isPro;
    return (!isUserPro && !isTreePro) || (isUserPro && isTreePro);
  }
  match /databases/{database}/documents {
    match /emails/{email} {
      allow write: if request.resource.data.email.matches(".*@.*");
      allow read: if false;
    }
    match /results/{document=**} {
      allow read: if true;
    }
    match /trees/{treeId} {
      allow read, write: if true
    }
    match /users/{userId}/trees/{treeId} {
      allow read, update, delete: if signedInAndMatchBetweenUIDAndUserId(userId);
      allow create: if signedInAndMatchBetweenUIDAndUserId(userId) && isPro();
    }
    match /{document=**} {
      allow read, write: if false
    }
  }
}
