rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /emails/{email} {
      allow write: if request.resource.data.email.matches(".*@.*");
      allow read: if false;
    }
    match /results/{document=**} {
      allow read: if true;
    }
    match /trees/{treeId} {
      allow read, write: if true
    }
    match /users/{userId}/trees/{treeId} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }
    match /{document=**} {
      allow read, write: if false
    }
  }
}
